name: Release
permissions:
  contents: write
  pull-requests: write

on:
  workflow_run:
    workflows: ['Test']
    types: [completed]
    branches:
      - 'main'
      - 'next'

env:
  # The node version to release with, generally the latest LTS
  release_node: 22.x

jobs:
  release:
    name: Release
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@f2b2b233b538f500472c7274c7012f57857d8ce0 # https://github.com/pnpm/action-setup/commit/f2b2b233b538f500472c7274c7012f57857d8ce0
        with:
          version: 10.13.1

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ env.release_node }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-${{ env.release_node }}-

      - name: Setup Node.js ${{ env.release_node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.release_node }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@5078b4b48bc0653522c3e3124a37a337afd45a9f # Commit hash taken from https://github.com/changesets/action/tree/v1/src
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
