name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - next

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    strategy:
      matrix:
        # Test against multiple node versions
        # Last LTS, current LTS, current, and next LTS (if not same as current)
        node: [18.x, 20.x, 22.x, 23.x]
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build

      - name: Lint, Prettier, and Typecheck
        run: pnpm test:ci
